div {
	height: 25px;
	width: 25px;
	border: 2px solid black;
	font-size: 25px;
	text-align: center;
}

:not(.revealed) {
	background-color: blueviolet;
}

.revealed {
	background-color: white;
}
